body {
  margin: 0;
  font-family: monospace;
  background: #111;
  color: #eee;
}

.layout {
  display: grid;
  grid-template-columns: 250px 1fr 320px;
  height: 100vh;
}

.panel {
  padding: 10px;
  border-right: 1px solid #333;
  overflow: auto;
}

.center {
  border-right: 1px solid #333;
}

button {
  display: block;
  width: 100%;
  background: #222;
  color: #eee;
  border: 1px solid #444;
  padding: 6px;
  margin-top: 6px;
  cursor: pointer;
  text-align: left;
}

#graph {
  border: 1px solid #333;
  width: 100%;
  max-width: 100%;
  background: #111;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  background: #161616;
  border: 1px solid #2b2b2b;
  padding: 8px;
}
